html {
    background-color: #40260aff;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #40260aff;
    color: #ff9b27;
}
.title {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    color: #ff9b27;
}
.search-bar {
    margin-right: 10px;
}
.navbar {
    background-color: #40260aff; 
}
.nav-list {
    display: flex;
    color: #ff9b27;
}
.nav-list ul {
    list-style: none;
    position: absolute;
    top: 50%;
    padding-left: 10%;
}
.nav-list li {
    margin: 20% 0;
}
.container {
    display: flex;
    justify-content: center;
    position: absolute;
}
#box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 50%;
}
.bottom-container {
    display: inline-block;
    position: absolute;
    height: 82%;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}
.main-tweet-row * {
    white-space: nowrap;
    display: inline;
    margin: 20px 10px 5px 5px;
}
textarea {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
}
.main-tweet-btn {
    margin-bottom: 10px;
    font-size: 15px;
}
/* html {
    background-color: #40260aff;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #40260aff;
    color: #ff9b27;
}
.title {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    color: #ff9b27;
}
.navbar {
    background-color: #40260aff; 
}
.nav-list {
    display: flex;
    color: #ff9b27;
}
.nav-list ul {
    list-style: none;
    position: absolute;
    top: 50%;
    padding-left: 10%;
}
.nav-list li {
    margin: 20% 0;
}
.container {
    display: flex;
    justify-content: center;
    position: absolute;
}
.bottom-container {
    display: inline-block;
    position: absolute;
    height: 100%;
    width: 80%;
    border-radius: 0px 0px 5px;
}
textarea {
    margin-top: 10px;
    width: 70%;
    height: 90px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
} */
