html {
    background-color: #40260aff;
    font-family: 'Oswald', sans-serif;
}
body {
    background-color: #40260a;
    color: #ff9b27;
}

/* -------- LOGIN PAGE --------- */
.login-div {
    text-align: center;
    width: 20%;
    margin: 0px auto;
    margin-top: 150px;
    padding: 20px;
}
.login-div input {
    color: #ff9b27;
    display: block;
    border: 1px solid #ff9b27;
    border-radius: 5px;
    background: #40260aff;
    padding: 15px;
    outline: none;
    width: 100%;
    margin-bottom: 20px;
}
.login-div input:focus {
    border: 2px solid #ff9b27;
}
.login-div button {
    background: #40260aff;
    color: #ff9b27;
    border: 1px solid #ff9b27;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.login-div button:hover {
    background: #ff9b27;
    color: #40260aff;
}

/* -------- MAIN PAGE --------- */
.title {
    display: flex;
    justify-content: flex-start;
    margin: 10px;
    color: #ff9b27;
}
.search-bar {
    margin-right: 10px;
}
#search_bar_btn {
    background: #40260aff;
    color: #ff9b27;
    border: 1px solid #ff9b27;
    border-radius: 5px;
    padding: 15px;
    display: inline;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; 
}
#search_bar_btn:hover {
    background: #ff9b27;
    color: #40260aff; 
}
.navbar {
    background-color: #40260aff; 
}
.nav-list {
    display: flex;
    color: #ff9b27;
}
.nav-list ul {
    list-style: none;
    position: absolute;
    top: 50%;
    padding-left: 10%;
}
.nav-list li {
    margin: 20% 0;
}
.nav-list button {
    background: #40260aff;
    color: #ff9b27;
    border: 1px solid #ff9b27;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s; 
}
.nav-list button:hover {
    background: #ff9b27;
    color: #40260aff; 
}
.container {
    display: flex;
    justify-content: center;
    position: absolute;
}
#box {
    position: absolute;
    top: 50%;
    left: 50%;
    height: 200px;
    width: 50%;
}
.bottom-container {
    display: inline-block;
    position: absolute;
    height: 82%;
    width: 100%;
    border-radius: 0px 0px 5px 5px;
}
.main-tweet-row * {
    white-space: nowrap;
    display: inline;
    margin: 20px 10px 5px 5px;
}
textarea {
    margin-top: 10px;
    width: 100%;
    height: 90px;
    border-radius: 5px;
    font-size: 20px;
    resize: none;
}
.main-tweet-btn {
    background: #40260aff;
    color: #ff9b27;
    border: 1px solid #ff9b27;
    border-radius: 5px;
    padding: 15px;
    display: block;
    width: 100%;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
}
.main-tweet-btn:hover {
    background: #ff9b27;
    color: #40260aff;
}